.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
application/views/\._left_menu\.php

application/views/\._notif_alarm\.php

application/views/\._notif_inbox\.php

application/views/\._search_box\.php

application/views/\._notif_task\.php

application/views/\._user_menu\.php

application/views/dashboard/\._index\.php

application/views/fb_hashtag/\._index\.php
application/config/database.php
